@font-face {
    font-family: 'monaco';
    src: url('public/font/Monaco.ttf') format('truetype');
}


header {
    margin-bottom: 10px;
    display: flex;
    height: 3dvh;
    font-size: 1.3dvh;
    justify-content: center;
    background-color: #353535;
    align-items: center;
}

body {
    font-size: 2dvh;
    margin: 0px;
    color: white;
    font-family: monaco;
    background-color: #1D1B22;
}


/*custom id*/

#run {
    display: flex;
}


@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}

.blinkCursor::after {
    content: "";
    width: 10px;
    height: 20px;
    background: #f8f8f2;
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;
}

#neofetch {
    display: grid;
    grid-template-columns: 40dvw 60dvw;
    grid-template-rows: 1fr;
}

#neofetch_result div {
    padding: 4px;
}

#neofetch_result a {
    color: white;
    text-decoration: none;
}

#neofetch_result a:hover {
    color: white;
    text-decoration: underline;
}

#ascii {
    font-size: 1dvh;
}


/*custom class*/

.ppw {
    color: #bd93f9;
}

.link-styles {
    padding-left: 4dvh;
    position: relative;
    width: 200px;
    color: #f8f8f2;
    text-decoration: none;
}


.link-styles::before {
    content: "";
    position: absolute;
    left: 13px;
    top: 2px;
    color: transparent;
    width: 200px;
    color: #f8f8f2;
    text-decoration: none;
}

.link-styles:hover {
    cursor: pointer;
    color: #ffb86c;
    width: 200px;
    text-decoration: none;
}

.link-styles:hover::before {
    cursor: pointer;
    content: "$";
    color: #ffb86c;
    width: 200px;
    text-decoration: none;
}

span {
    padding-top: 10px;
}

